In [8]:
import pymysql
import pandas as pd

# MySQL 연결 설정
connection = pymysql.connect(
    host='localhost',     # MySQL 서버 주소
    user='root', # MySQL 사용자 이름
    password='0624', # MySQL 비밀번호
    database='SchoolDB'  # 데이터베이스 이름
)

# CSV 파일 읽기 (파일 경로를 자신의 파일 경로로 바꾸세요)
csv_file_path = '기계시스템디자인공학과.csv'
data = pd.read_csv(csv_file_path, encoding='EUC-KR')

# MySQL 커서 생성
cursor = connection.cursor()

# 테이블에 데이터 삽입 (컬럼명은 테이블 구조에 맞게 수정)
insert_query = """
    INSERT INTO courses (department_id, courseCode, couseName, courseNumber,division, courseHours, capacity, professorName, classroom)
    VALUES (1, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# CSV 파일에서 각 행을 읽어와서 테이블에 삽입
for index, row in data.iterrows():
    cursor.execute(insert_query, tuple(row))

# 변경사항 저장
connection.commit()

# 연결 종료
cursor.close()
connection.close()

print("데이터 삽입 완료!")

OperationalError: (1136, "Column count doesn't match value count at row 1")

In [32]:
import pandas as pd
import mysql.connector

# 1. 엑셀 파일을 읽기
df = pd.read_excel('화공생명공학과.xlsx')  # 엑셀 파일 경로

# 2. 데이터베이스 연결
conn = mysql.connector.connect(
    host="localhost",
    user="root",    # 본인의 DB 유저명
    password="0624",# 본인의 DB 패스워드
    database="SchoolDB"  # 본인의 DB 이름
)
cursor = conn.cursor()

# 3. INSERT 쿼리 정의 (자리표시자 %s 사용)
insert_query = """
    INSERT INTO courses (department_id, courseCode, couseName, courseNumber, division, credit, courseHours, capacity, professorName, classroom)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# 4. 엑셀 데이터를 리스트로 변환 (SQL에 맞게)
course_data = df[['department_id', 'courseCode', 'couseName', 'courseNumber', 'division', 'credit', 'courseHours', 'capacity', 'professorName', 'classroom']].values.tolist()

# 5. 데이터베이스에 여러 레코드 한 번에 삽입
cursor.executemany(insert_query, course_data)

# 6. 변경사항 저장
conn.commit()

# 7. 연결 종료
cursor.close()
conn.close()

print("데이터베이스에 성공적으로 삽입되었습니다.")

데이터베이스에 성공적으로 삽입되었습니다.